.bg-color{
 background-color: black;
 height: 100vh;
 background-size: cover;

}
.images{
    height: 340px;
    width: 190px;
}
.cards{
    width: 500px;
    height: 500px;
    margin-left: 425px;
    margin-top: 50px;
    color: aliceblue;
   
}
.heading{
    font-family: garamond;
    margin-left: 450px;
    color: aliceblue;
}
.texts{
    color:aliceblue
}




 
